
.navbg{
   
    background-image: linear-gradient(to right, #2d77e7, #0099fa, #00b8fd, #00d3f6, #12ebeb);
}
.link{
 text-decoration: none;
 font-size: larger;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
#bgcolor:hover{
    color: navy;
    
}